.git
.gitignore
.env
.env.example
.env.vercel.example
.env.local
node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
bootstrap/cache/*
vendor
.DS_Store
Thumbs.db
*.log
.vscode
.idea
.phpactor.json
.phpunit.result.cache
tests
README.md
